sudo: required
language: cpp

compiler:
  - gcc


addons:
  # Boost
  apt: 
    packages: libboost-all-dev

before_install:
  # C++14
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq
  # Qt5, From https://gist.github.com/jreese/6207161#gistcomment-1462109
  #- sudo add-apt-repository --yes ppa:ubuntu-sdk-team/ppa
  #- sudo apt-get update -qq
  #- sudo apt-get install -qq libqt5webkit5-dev qtdeclarative5-dev
  #- export QMAKE=/usr/lib/x86_64-linux-gnu/qt5/bin/qmake
  # codecov
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo pip install codecov # From https://github.com/travis-ci/travis-ci/issues/1705
  - sudo apt-get update -qq


install: 
  # C++14
  - sudo apt-get install -qq g++-5
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-5 90
  # Qt5
  - sudo apt-get install -qq libqt5webkit5-dev qtdeclarative5-dev libqt5svg5*
  - export QMAKE=/usr/lib/x86_64-linux-gnu/qt5/bin/qmake
  # cppcheck
  - sudo apt-get install -qq cppcheck
  # Codecov
  - sudo update-alternatives --install /usr/bin/gcov gcov /usr/bin/gcov-5 90
  - sudo pip install codecov
  # SLOCcount
  - sudo apt-get install sloccount
  # OCLint
  - ./install_oclint.sh

# Start virtual X server, from https://docs.travis-ci.com/user/gui-and-headless-browsers/
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start

script: 
  - ./download_other_githubs.sh
  - ./build_other_githubs.sh
  - qmake MutualismBreakdownerConsole.pro
  - make
  - ./MutualismBreakdownerConsole
  - qmake MutualismBreakdownerDesktop.pro
  - make
  - ./MutualismBreakdownerDesktop &
  - sleep 10
  - sudo killall -9 MutualismBreakdownerDesktop
  # cppcheck, be mild
  - cppcheck --quiet --error-exitcode=0 . 
  #- cppcheck --quiet --error-exitcode=1 . 
  # Call OCLint
  - ./do_oclint
  # Get code coverage
  - ./get_code_cov.sh >/dev/null
  - codecov >/dev/null
  # SLOCcount
  - cd ..; sloccount --overhead 1 --personcost 22614 $my_github; cd $my_github

after_success:
  - bash <(curl -s https://codecov.io/bash)
