language: cpp
dist: xenial
compiler:
  - gcc


addons:
  # Boost
  apt: 
    packages: libboost-all-dev

install: 
  # Qt5
  - sudo apt-get install -qq qt5-qmake qt5-default
  # Qwt
  - sudo apt-get install -qq libqwt-qt5-dev
  # cppcheck
  - sudo apt-get install -qq cppcheck
  # Codecov
  - sudo pip install codecov
  # Check dead links
  - sudo apt-get install -qq npm
  - npm config set strict-ssl false
  - sudo npm install -g markdown-link-check
  # SLOCcount
  - sudo apt-get install sloccount
  # OCLint
  - ./install_oclint.sh

services:
 - xvfb

script: 
  - ./download_other_githubs.sh
  - qmake -qt=qt5 MutualismBreakdownerConsole.pro
  - make --silent
  - ./MutualismBreakdownerConsole >/dev/null
  - qmake -qt=qt5 MutualismBreakdownerDesktop.pro
  - make --silent
  - ./MutualismBreakdownerDesktop &
  - sleep 10
  - sudo killall -9 MutualismBreakdownerDesktop
  # cppcheck, be mild
  - cppcheck --quiet --error-exitcode=0 . 
  #- cppcheck --quiet --error-exitcode=1 . 
  # Call OCLint
  - ./do_oclint | true
  # Get code coverage
  - ./get_code_cov.sh >/dev/null
  - codecov >/dev/null
  # Check dead links
  - rm .travis.yml
  - ./scripts/check_dead_links
  # SLOCcount
  - cd ..; sloccount --overhead 1 --personcost 22614 $my_github; cd $my_github

after_success:
  - bash <(curl -s https://codecov.io/bash)
